{% extends 'base.html.twig' %}

{% block title %}Ajouter un jour{% endblock %}

{% block content %}


    <style>
        .alert{
            position:relative !important;
            padding:1rem 1rem !important;
            margin-bottom:1rem !important;
            border:1px solid transparent!important;
            border-radius:.25rem !important;
        }
        .alert-success{
            color:white!important;
            background-color: #8e89c4 !important;
            border-color: #8f8cc1 !important;
        }
    </style>

    <br><br>

    <div class="mt-5 md:mt-0 md:col-span-2 container mx-auto">


        {{ form_start(form)}}
        <div class="shadow overflow-hidden sm:rounded-md ">
            <div class="px-4 py-5 bg-white sm:p-6">
                <div class="grid grid-cols-6 gap-6  mx-auto">

                    <div class="col-span-6 sm:col-span-4">
                        {{ form_label(form.jour, "Jour", {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                        {{ form_row(form.jour,  {'attr': {'class': 'mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full p-4 shadow-sm sm:text-sm border-gray-300 rounded-md'}}) }}
                    </div>

                </div>
            </div>
            <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                {{ form_row(form.submit) }}
            </div>
        </div>
        {{ form_end(form)}}
    </div>



{% endblock %}
